.stats {
  margin: 80px 60px;
  background: linear-gradient(90deg, #4f7cff, #a855f7, #ec4899);
  padding: 50px;
  border-radius: 28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: white;
}

.stats div {
  font-size: 42px;
  font-weight: 800;
}

.stats span {
  display: block;
  font-size: 16px;
  margin-top: 6px;
}
