.cont{
    display: flex;
    justify-content: flex-start;  
    gap: 80px;                     
    padding: 32px 48px;
    background: linear-gradient(180deg, #f8fbff 0%,#eef4ff 100%);
}
.rcont{
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}